html, body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 500px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input {
  margin-bottom: 20px;;
}

@media only screen and (max-width: 768px) {
  html, body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
