<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <div class="">
      <!-- {% for row in data %}
            <div class="">
              {{row[1]}}
            </div>
        {% endfor %} -->
      <table>
       <tr>
         <th>Nome</th>
         <th>Data de admissão</th>
         <th>Ações</th>
       </tr>
       {% for row in data %}
         <tr>
           <td>{{ row[1].split(' ')[0] }}</td>
           <td>{{ row[5].strftime('%d/%m/%Y') }}</td>
           <td><button class="editbtn">Excluir</button></td>
         </tr>
       {% endfor %}
      </table>
      <div class="" style="margin-top: 50px">
        <form>
          <label for="fname">Nome</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">RG:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <label for="lname">CPF:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <label for="lname">Data de Nascimento:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <label for="lname">Data de Admissão:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <label for="lname">Função:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <button type="button" name="button"> Cadastrar </button>
        </form>
      </div>
    </div>
  </body>
</html>

<style>
html, body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 500px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input {
  margin-bottom: 20px;;
}

@media only screen and (max-width: 768px) {
  html, body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
</style>
