<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div>
      <table>
       <tr>
         <th>Nome</th>
         <th>Data de admissão</th>
         <th>Ações</th>
       </tr>
       {% for row in data %}
         <tr>
           <td>{{ row[1].split(' ')[0] }}</td>
           <td>{{ row[5].strftime('%d/%m/%Y') }}</td>
           <td><button onClick="deleteItem({{ row[0] }})">Excluir</button></td>
         </tr>
       {% endfor %}
      </table>
      <div style="margin-top: 50px">
        <form action="/" method="POST">
          <label for="name">Nome</label><br>
          <input type="text" id="inp_name" name="name"><br>
          <label for="rg">RG:</label><br>
          <input type="text" id="inp_rg" name="rg"><br>
          <label for="cpf">CPF:</label><br>
          <input type="text" id="inp_cpf" name="cpf"><br>
          <label for="born">Data de Nascimento:</label><br>
          <input type="text" id="inp_born" name="born"><br>
          <label for="admission">Data de Admissão:</label><br>
          <input type="text" id="inp_adm" name="admission"><br>
          <label for="function">Função:</label><br>
          <input type="text" id="inp_func" name="function"><br>
          <button type="submit" name="button"> Cadastrar </button>
        </form>
      </div>
    </div>
  </body>
</html>

<script src="/static/scripts.js" charset="utf-8"></script>
